{%extends 'base.html'%}

{%block title%}CAJA{%endblock%}

{%block content%}

<div class="container">
    <h1>Manejo de Caja</h1>
</div>
<div class="container mt-5">
    <p>Selecciona la función que deseas realizar:</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{url_for('cierre')}}">Cierre de Caja</a></li>
        <li class="list-group-item"><a href="{{url_for('deposito')}}">Deposito</a></li>
        <li class="list-group-item"><a href="{{url_for('retiro')}}">Retiro</a></li>
    </ul>
</div>


{%endblock%}